<form method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette figure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
<button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
</form>
