{% extends 'base.html.twig' %}

{% block title %}Modification d'une figure
{% endblock %}

{% block body %}
	<h1>Modifier la figure</h1>

	{{ include('figure/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
