{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle figure{% endblock %}

{% block body %}
    <h1>Créer une nouvelle figure</h1>
    {{ include('figure/_form.html.twig') }}
{% endblock %}
