<footer class="bg-secondary fixed-bottom">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="copyright text-primary">
      <small>&copy; {{ "now"|date('Y') }} My Company</small>
    </div>
    <ul class="footer-nav nav nav-pills flex-md-row justify-content-md-center">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Terms of Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
