{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>
<p>Vous êtes obliger de retapez votre mot de passe pour la modification de votre profil.</p>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
